# Python
__pycache__/
*.py[cod]
*.pyd
.venv/
env/
*.egg-info/
*.so
*.pyo
*.pyd
*.pyc

# Node.js (frontend & backend)
**/node_modules/
**/dist/
**/build/
**/.env
**/.env.*
*.log

# Build artifacts
*.o
*.a
*.so
*.dll
*.dylib
*.lib
*.exe
*.out
*.app

# Docker
*.pid
*.sock
*.tar
*.db
.dockerignore

# VS Code / IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS / System
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/

# Conda
*.conda
*.egg-info/
*.egg

# Results, outputs, and data
*.wav
*.m4a
*.mp3
*.ogg

# Model checkpoints and large files
*.pt
*.h5

# Temporary files
*.tmp
*.temp
*.swp
*~
*.bak
*.zip

# Ignore data and cache folders
data/
cache/
__cache__/
frontend/dist/
backend/temp.mp3
./backend/history/

# User-specific config
*.user

# Misc
temp.mp3

# Backend specific (Python/Node.js)
backend/__pycache__/
backend/.pytest_cache/
backend/.mypy_cache/
backend/.coverage
backend/coverage.*
backend/.env
backend/.env.*
backend/.DS_Store
backend/.vscode/
backend/.idea/
backend/.pylint.d/
backend/.pdm.toml
backend/.pdm.lock
backend/.pdm/
backend/.ruff_cache/
backend/.ipynb_checkpoints/
backend/.log
backend/.sqlite3
backend/.db
backend/.log
backend/.tmp
backend/.bak
backend/.egg-info/
backend/.venv/
backend/env/
backend/Miniconda3-latest-Linux-x86_64.sh
backend/.wav
backend/.m4a
backend/.ogg
backend/results_with_different_filters/
backend/finetune_whisper_attempt/training_dataset/
backend/finetune_whisper_attempt/my-whisper-small-finetuned/
