# Web framework
fastapi>=0.111
uvicorn[standard]>=0.30
python-multipart
pydantic>=2.6

# Utils
packaging
pyyaml
tqdm
dotenv

# Audio / Speech
librosa
soundfile           
webrtcvad
pesq
deepfilternet

# ML / Torch (CUDA 12.1 wheels)
torch==2.2.2
torchaudio==2.2.2
einops
tensorboard

# NLP / Transformers
transformers
sentence-transformers
openai-whisper

# Database
psycopg

# Math / Sci
numpy
scipy
httpx