fastapi
uvicorn
python-multipart
packaging
librosa
pysoundfile
pyyaml
tensorboard
pesq
einops
torch==2.2.2
torchaudio==2.2.2
webrtcvad
dotenv
psycopg
webrtcvad
openai-whisper
sentence-transformers
deepfilternet
fastapi
uvicorn